@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
background: #2c3e50;
color: white;
font-family:'montserratregular';
}

header {
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 10;
}

nav ul {
margin: 0;
padding-left: 0;
padding-top: 20px;
text-align: center;
}

nav ul li {
display: inline-block;
margin-left: 10px;
}

nav ul li a {
color: white;
opacity: 0.7;
text-transform: uppercase;
text-decoration: none;

}

nav ul li a:hover {
opacity: 1;
}

.page {
width: 100%;
height: 100vh;/*toma el mayor real de la web (parte que vemos en la web), no se toma bien el % sino el vh */
position: relative;
display: table;
}

.center-box {
display: table-cell; /*verticalmente al centro*/
vertical-align: middle;	
}

.pie-box{
	display: block;
display: table-cell;
vertical-align: bottom;	
}

h1{
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

#home {
text-align: center;
}

#home img {
	display: block;
	margin: 0 auto;
}

#home h2 {
text-align: center;
margin-top: 0;
margin-bottom: 40px;
position: relative;
display: inline-block;
}

#home h2 .amperson {
display: inline-block;
width: 22px;
height: 27px;
background-image: url(../images/amperson.svg);
margin-left: 10px;
margin-right: 10px;
}

#home h2:hover::after {
	right: -80px;
}

#home h2:hover::before {
	left: -80px;
}

#home h2::after,
#home h2::before {
content: '';
/*ingresar contendio por ccs3*/
width: 50px;
height: 1px;
background: #fff;
position: absolute;
transition: all .2s ease-in;
}

#home h2::after {
    right: -55px;
    top: 20px;
}

#home h2::before {
	left:-55px;
	top: 20px;
}